---
---

@import "{{ site.theme }}";

.wrapper {
    max-width: 800px;
}

td {
    min-width: 80px;
}

footer {
    border-top: 1px solid #808080;
}

a {
    color: #2f6de1;
}

#header h1 {
    padding-top: 10px;
    text-align: center;
}